/* -----Discount----------- */

.discount {
  padding-top: 30px;
  background-color: $background;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: $gray-red;
    font-size: 20px;
  }

  &__title {
    margin-left: 5px;
    font-size: 25px;
  }
}

/* ----------DiscountCart-----------*/

.discount-card {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 150px;
  }

  &__title {
    font-weight: 400;
    font-size: 17px;
  }

  &__price {
    color: $gray-red;
    font-size: 15px;
    font-weight: 500;
  }
}
