/* -------------FlashDeals---------------- */

.flash-deals {
  padding-top: 20px;
  padding-top: 10px;
  background-color: $background;

  &__info {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: $gray-red;
    font-size: 20px;
  }

  &__title {
    margin-left: 5px;
    font-size: 25px;
  }
}

/* -------------FlashCard---------------- */

.product {
  position: relative;
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;

  &:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3a2f28;
    transition: 0.5s;
  }

  &__img {
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__discount {
    font-size: 15px;
  }

  &__like {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }

  &__count {
    background-color: $dark-blue;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 50px;
  }
}

.product:hover .product__like {
  opacity: 1;
  cursor: pointer;
}

.datails {
  &__title {
    font-weight: 400;
    font-size: 17px;
  }

  &__rate {
    margin-top: 5px;
  }

  &__price {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bi-heart {
  margin-bottom: 5px;
  font-size: 20px;
}

.bi-heart-fill {
  color: $gray-red;
  margin-bottom: 5px;
  font-size: 20px;
}

.rate__star {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}

.price__title {
  color: $gray-red;
}

.add-btn {
  background-color: none;
  color: $gray-red;
  width: 35px;
  font-size: 20px;
  height: 35px;
  border-radius: 5px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: $gray-red;
    color: #fff;
  }
}

/* -------------ArrowSlider---------------- */

.next {
  right: -20px;
}

.prev {
  left: -20px;
}

.arrow-slider {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: $dark-blue;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;

  &:hover {
    background-color: $gray-red;
    color: #fff;
    cursor: pointer;
  }
}

.bi-arrow-right,
.bi-arrow-left {
  font-size: 20px;
  transition: 0.5s;
  color: $white;
}
