/*------------SignUp---------------------*/

.signup {
  background: #23242a;

  &__login {
    margin-top: 10px;
    align-self: center;
    color: #fd1c03;
    font-weight: 400;
    font-size: 18px;

    a {
      color: #45f3ff;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &__form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #fd1c03;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__btn {
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    background: #fd1c03;
    color: $white;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      color: #1c1c1c;
      background: #45f3ff;
    }
  }

  &__box {
    position: relative;
    width: 380px;
    height: 520px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 380px;
      height: 520px;
      background: linear-gradient(0deg, transparent, #fd1c03, #fd1c03);
      transform-origin: bottom right;
      animation: animate 6s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 380px;
      height: 520px;
      background: linear-gradient(0deg, transparent, #fd1c03, #fd1c03);
      transform-origin: bottom right;
      animation: animate 6s linear infinite;
      animation-delay: -3s;
    }

    @keyframes animate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
