@import "./variables";
@import "./libs/normalize";
@import "./components/all";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.viewall-btn {
  padding: 5px 15px;
  background-color: $white;
  border-radius: 10px;
}

.viewall-btn:hover {
  background-color: $gray-red;
  cursor: pointer;
  transition: 0.7s;
}

.invalid {
  color: rgb(226, 5, 5);
  font-size: 14px;
  font-weight: 500px;
  align-self: center;
  justify-content: center;
}

.btn-back {
  margin-top: 20px;
  margin-right: 20px;
  height: 40px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: $dark-blue;
  color: $white;
  border-radius: 25px;

  &:hover {
    cursor: pointer;
    background-color: $gray-red;
    transition: 0.7s;
    color: black;
  }
}

.working {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 25px;

  &__title {
    font-size: 25px;
    font-weight: 700;
  }

  &__desc {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 500;
  }
}

.breadcrumbs {
  margin-top: 20px;

  &__item {
    text-align: center;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #0066b2;
    transition: 0.5s;
    color: $white;

    &:hover {
      cursor: pointer;
      background-color: $gray-red;
      color: #1c2c3c;
    }
  }
}

.notfound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
}
